.cartes{
    width:100%;
    height:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;

    .carte{
        width:calc((100% - 160px) / 3);
        height:auto;
        background:$blanc;
        border-radius:10px;

        img{
            width:330px;
        }
    }
}