.cartes{
    width:100%;
    height:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;

    .carte{
        width:calc((100% / 3) - (160px / 3));
        height:auto;
        background:$blanc;
        border-radius:10px;

        .img{
            width:100%;
            padding-top:90%;
            position:relative;
            border-radius:10px;
            overflow:hidden;

            img{
                position:absolute;
                top:0;
                left:-50%;
                width:150%;
            }
        }
    }
}