button{
    display:block;
    margin:auto;
    padding:9px 38px;
    box-sizing:border-box;
    text-align:center;
    font-family:$asap;
    color:$blanc;
    background:transparent;
    border-radius:5px;
    font-size:18px;
    font-weight:700;
    letter-spacing:3px;
    border:none;
    text-transform:uppercase;
    position:relative;
    transition:all 0.2s ease-in;
    overflow:hidden;

    &::after,
    &::before{
        content:"Trouver mes vacances !";
        display:flex;
        justify-content:center;
        align-items:center;
        width:100%;
        height:100%;
        background:$orange;
        border-radius:5px;
        position:absolute;
        left:0;
        top:0;
        transition:all 0.2s ease-in;
    }

    &::before{
        background:$noir;
        left:-100%;
    }

    &:hover{
        &::before{
            left:0;
        }
        &::after{
            left:100%;
        }
    }
}

.carte button{
    width:calc(100% - 56px);
    margin:30px auto;
    padding:15px 0;
    box-sizing:border-box;
    border:2px solid rgba(20,20,20,0.25);

    &::after,
    &::before{
        content:"Choisir une date";
        display:flex;
        justify-content:center;
        align-items:center;
        width:100%;
        height:100%;
        background:$blanc;
        color:$noir;
        border-radius:5px;
        position:absolute;
        left:0;
        top:0;
        transition:all 0.2s ease-in;
    }

    &::before{
        background:$noir;
        color:$blanc;
        left:-100%;
    }

    &:hover{
        border-color:$blanc;

        &::before{
            left:0;
        }
        &::after{
            left:100%;
        }
    }
}

.visite section>button{
    width:calc((100% / 3) - (160px / 3));
    padding:20px 0;
    box-sizing:border-box;
    margin:90px auto 0 auto;
    font-size:24px;

    &::before,
    &::after{
        content:"charger plus";
    }
}