nav div ul li a {
    color: $blanc;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1.5px;
    font-family: $montserrat;
    text-transform: uppercase;
    text-shadow: 0 0 3px $noir;
    transition: all 0.25s ease-in;
}

.onScroll nav div ul li a {
    color: $noir;
    text-shadow:none;
}

h1 {
    font-family: $asap;
    color: $blanc;
    font-size: 95px;
    font-weight: 700;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-shadow: 0 0 20px $noir;
    text-align: center;
}

h2{
    font-family:$asap;
    color:$noir;
    font-size:40px;
    font-weight:700;
    letter-spacing:3px;
    text-transform: uppercase;
    position:relative;

    &::after{
        content:'';
        height:5px;
        width:100%;
        background:$orange;
        position:absolute;
        left:0;
        bottom:-15px;
    }
}

label{
    font-family: $montserrat;
    color:$noir;
    font-size:14px;
    letter-spacing:2px;
    margin: 0 0 14px 0;
    font-weight:700;
}

select{
    font-family: $montserrat;
    color:$noir;
    font-size:14px;
    letter-spacing:2px;
    font-weight:400;
}

.p_visite{
    font-family:$montserrat;
    color:$noir;
    font-weight:400;
    font-size:18px;
    letter-spacing:2px;
    line-height:30px;
}